/* Reset and General Styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.sub-title{
    /* font-size: 60px;
    font-weight: 600; */
    color: #424244;
    text-align: center;
    /* background-color: #ff004f; */
}

/* Header Styling */
.portfolio-box {
    padding: 2% 10%;
    text-align: left;
    background-color:#CCD5AD;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.name {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.job-title, .education {
    font-size: 18px;
    margin-top: 5px;
    font-style: italic;
    font-weight: bold;
    /* font-family: Courgette; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.education {
    margin-bottom: 10px;
}

/* Navigation Styling */
.navigation-bar {
    padding: 0 10%;
    background-color: #779977;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-bar a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}

.navigation-bar a:hover {
    background-color: #555;
}

/* Welcome Section Styling */
.welcome-box {
    margin: 1% 0;
    padding: 2% 10%;
    background-color: #CCD5AD;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.welcome-text {
    flex: 65%;
    text-align: center;
    background-color: #779977;
    padding: 20px;
    border-radius: 10px;
}

.welcome-text h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.welcome-text p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 10px;
}


.welcome-image {
    flex: 35%;
    transform: rotate(5deg);
    overflow: hidden;
}

.welcome-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* About Section Styling */
.about-section {
    margin: 2% 0;
    padding: 2% 10%;
    background-color: #CCD5AD;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.about-text {
    flex: 65%;
    padding: 2% 10%;
    border-radius: 10px;
    background-color: #779977;
    text-align: left;
}

.about-text h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.about-text p {
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
}

.about-image {
    flex: 35%;
    overflow: hidden;
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Services Section Styling */
#services {
    margin: 2% 0;
    padding: 2% 10%;
    background-color: #CCD5AD;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* display: flex; */
    align-items: center;
}

.services-list {
    flex: 65%;
    padding: 2% 1%;
    border-radius: 10px;
    background-color: #779977;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.services-list div {
    background: #262626;
    padding: 20px;
    font-size: 13px;
    font-size: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    color: #fff;
    width: 30%;
    text-align: center;
    margin: 0 15px;
}

.services-list div:hover {
    background: #c62155;
    transform: translateY(-10px);
}

.services-list div i {
    color: #fff;
    font-size: 45px;
    padding: 0 0;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    margin-top: 20px;
}

/* Additional styling for the 'See More' button */
#services .btn {
    margin: 20px auto;
    width: fit-content;
}

/* Portfolio Section Styling */
#portfolio {
    margin: 2% 0;
    padding: 2% 10%;
    background-color: #CCD5AD;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* display: flex; */
    align-items: center;
}

.work-list {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    padding: 2% 1%; */
    flex: 65%;
    padding: 2% 1%;
    border-radius: 10px;
    background-color: #779977;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    color: #fff;
    margin: 0 15px; /* Adjusted margin for more space */
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 2px;
    font-size: 20px;
    font-style: oblique;
}

.layer p {
    text-align: center;
    font-suze: 6px;
    padding: 0 5%;
}

.layer a {
    margin: 2px;
    text-decoration: none;
    color: #ff004f;
    font-size: 12px;
    background: #fff;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

/* Button Styling */
.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 10px 40px;
    text-decoration: none;
    color: #4c4c4c;
    border-radius: 6px;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff004f;
    color: #fff;
}

/* Add the following styles to your existing CSS */
#contact {
    margin: 2% 0;
    padding: 2% 10%;
    background-color: #CCD5AD;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* display: flex; */
    align-items: center;
}
/* Add the following styles to your existing CSS */
.contact-section h1 {
    font-size: 60px;
    font-weight: 600;
    color: #424244;
    text-align: center;
}

.contact-info {
    /* display: flex;
    justify-content: space-between;
    width: 100%; */
    flex: 65%;
    padding: 2% 10%;
    border-radius: 10px;
    background-color: #779977;
    display: flex;
    justify-content: space-between;
}

.contact-details {
    flex: 35%;
    text-align: left;
    padding: 2% 10%;
}

.contact-details h2 {
    font-size: 24px;
    padding: 5% 0;
    /* margin-bottom: 10px; */
}

.contact-details p {
    font-size: 16px;
    padding: 3% 0;
}

.contact-form {
    flex: 65%;
    padding-left: 20px; /* Adjust spacing */
}

.contact-form h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-form form {
    max-width: 400px;
}

.contact-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #ff004f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.5s;
}

.contact-form button:hover {
    background-color: #d9004a;
}
.bottom-navbar {
    /* background-color: #333;
    color: #fff;
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center; */
    /* position: fixed; */
    bottom: 0;
    left: 0;
    /* width: 100%; */
    padding: 0 10%;
    background-color: #779977;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    display: flex;
}

.social-icons a {
    margin-right: 15px;
    font-size: 40px;
    /* padding: 15px; */
}

.copyright{
    text-align: center;
    flex-grow: 1;
    font-size: 14px;
    color: #fff;
}

.email-address {
    margin-left: 15px;
}

@media only screen and (max-width: 600px) {
    .portfolio-box,
    .navigation-bar,
    .welcome-box,
    .about-section,
    .about-text,
    .main,
    .services-list div,
    .work,
    .contact-info,
    .bottom-navbar {
        flex-direction: column;
        text-align: center;
    }

    .portfolio-box,
    .navigation-bar,
    .welcome-box,
    .welcome-text,
    .about-section,
    .about-text,
    .main,
    .services-list,
    .work,
    .contact-info,
    .bottom-navbar {
        padding: 4% 3%;
    }

    .navigation-bar a {
        margin: 10px 0;
    }

    .welcome-text,
    .welcome-image,
    .about-text,
    .about-image,
    .services-list,
    .contact-details,
    .contact-form {
        width: 100%;
    }

    .services-list {
        flex-direction: column;
        /* padding-right:  4%; */
        padding-top: 10%;
    }

    .services-list div {
        width: 78%;
        margin-bottom: 20px;
        padding-top: 10%;
        /* padding-right: 10%; */
    }

    .work {
        width: 100%;
        
    }

    .work-list {
        flex-wrap: wrap;


    }

    .contact-info {
        flex-direction: column;
    }

    .contact-form {
        width: 78%;
    }
    
}
